.entrydiv{
    text-align: center;
    border: 5cm;
    font-family: sans-serif;
}

.entryheader {
  text-align: center;
  font-family: sans-serif;
  color: white;
  overflow:hidden;
  background-color: black;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}

.entryheader:hover {
  background-color: rgb(58, 58, 58);
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}

.tbl {
  background-color: rgb(166, 255, 228);
  margin-top: 1cm;
  margin-left: 15.3cm;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  
}
.tbl:hover {
  border-color:rgb(122, 255, 215);
  background-color: rgb(122, 255, 215);
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}

.img {
  margin-left: 13cm;
  margin-top: 1cm;
}

